* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  max-width: 450px;
  margin: 0 auto;
}

.cart {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    gap: 100px;
    border: 1px solid black;
  }

  &__item-block {
    display: flex;
    width: 250px;
    align-items: center;
  }

  &__item-photo {
    width: 90px;
    height: 140px;
    margin: 10px;
  }

  &__item-info {
    font-size: 1rem;
  }

  &__item-price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  &__buttonbox {
    display: flex;
    justify-content: center;
  }

  &__button {
    margin-top: 20px;
    padding: 10px 20px;

    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  }

  &__total {
    display: flex;
    font-size: 1.5rem;
  }
}
